body {

    font-family: "Heebo", sans-serif;
}

:root {
    --primary-color: #6222CC;
    --secondry-color: #3379ab;
    --third-color: #faa30e;
    --white-color: #fff;
    --text-color: #555;
    --text-gray: #999;
    --black-color: #000;
}

/* header design */
.section-header {
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(images/image2.jpg);
    animation-name: example;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    opacity: 1;
    background-size: cover;
    background-position: center;
    background-attachment: fixed; */
    background-color: var(--primary-color);
    max-height: 100%;
    height: 100%;
    width: 100%;

}

/* @keyframes example {
    from {
        background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(images/image2.jpg);
    }
    to {
        background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(images/image1.jpg);
    }
} */
.bannerimg {
    padding-top: 100px;
    padding-bottom: 150px;
    display: flex;
    align-items: center;
}

.bannerimg img {
    width: 600px;
    height: 400px;
    padding-top: 20px;
    max-width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.buttonGradiant {
    background-image: linear-gradient(#f75878 0%, #f7635b 38.39%, #fbb03b 100%);
    color: white;
    font-weight: bold;
    font-size: 14px;
    padding: 15px 30px;
    float: left;
    border-radius: 30px;
    margin-left: 50px;
    text-decoration: none;
}

.header {
    width: auto;
    font-family: "Heebo", sans-serif;
    text-align: center;
    color: white;
}

.navigation-wrap {
    position: relative;
    width: 100%;
    left: 0;
    z-index: 1000;
    transition: all 0.3s ease-out;

}

.navigation-wrap .nav-item {
    padding: 0 0.625rem;
    transition: all 200ms linear;
}

.nav-link {
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--white-color);
    letter-spacing: 1px;
}

.navigation-wrap .main-btn {
    padding: 0.3125rem 1.4375rem;
    margin-left: 000.625rem;
}


.navbar-brand {
    color: var(--white-color);
    font-size: 1.7em;
    width: auto;
    font-family: 700;
}

.main-btn {
    display: inline;
    padding: 0.625rem 1.87rem;
    line-height: 1.5625rem;
    background-color: var(--white-color);
    border: none;
    color: var(--black-color);
    font-size: 0.9375rem;
    font-weight: 600;
    border-radius: 5px;
    transition: all .4s ease-out 0s;
}

.main-btn:hover {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.header-page-heading {
    padding-top: 4em;
    font-size: 3em;
    line-height: 1.2;
    font-weight: 700;

    margin-left: 50px;
    text-align: left;
}

.main-page h6 {
    text-align: left;
    margin-left: 50px;
    font-size: 17px;
}

.section-features {
    padding: 0;
    font-family: "Heebo", sans-serif;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #fff;
    align-items: center;

}

.features {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;

}

.features-heading {
    padding-bottom: 1em;
    text-align: center;
    color: var(--primary-color);
    font-size: 2.5em;
    font-weight: 500;
    font-family: "Heebo", sans-serif;
}

.features-box {
    text-align: center;
    box-shadow: 0px 0px 20px rgb(0 0 0 / 20%);
    width: 350px;
    padding: 20px;
    transition: 1s;
    text-align: center;
    margin-left: 25px;
    margin-right: 25px;
    transition: all .4s ease-out 0s;
}


.features-box:hover {
    transform: scale(1.05);
    background-image: linear-gradient(#114172, #bd77f3);
    color: white;
}

.features-box h4 {
    font-size: larger;
   
    padding-top: 15px;
    font-weight: 700;
}

.features-box h6 {
    font-size: 16px;
   
    padding: 20px 10px 10px 10px;
    font-weight: 600;
}

.icon-box {
    padding: 20px;
    background: var(--primary-color);
    color: var(--white-color);
    border-radius: 50%;
    transition: all .4s ease-out 0s;
}
.icon-box:hover{
    background-color: var(--white-color);
    color: var(--primary-color);
}

.bodycolor {
    background-color: white;
}

.givespace {
    padding-top: 70px;
    padding-bottom: 100px;
    max-width: 100%;
}

.getting-card {
    background-color: #6222CC;
    height: 400px;
    max-width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;

}

.getting-card h6 {
    text-align: center;
    color: var(--white-color);
    padding-top: 50px;
    font-size: 30px;
}

.getting-card h2 {
    padding-top: 20PX;
    padding-bottom: 150px;
    font-size: 50px;
    font-weight: 700;
    color: var(--white-color);
    text-align: center;
    line-height: 1.1em;
    max-width: 100%;
    max-height: 100%;
}

.blogsection {
    display: flex;
    align-items: center;
    font-family: "Heebo", sans-serif;

}

.padding-bottom {
    padding-bottom: 150px;
}

.blogsection h2 {
    text-align: center;
    padding: 50px;
    font-size: 50px;
    font-weight: 700;
    color: var(--white-color);
}

.boxshadow {
    background-color: #fff;
}

.fromblog {

    margin: 0;
    margin-left: 25px;
    margin-right: 25px;
}

.fromblog img {
    height: auto;
    max-width: 100%;
    justify-content: center;
    border: none;
    border-radius: 0;
    box-shadow: none;
    display: block;
    border: none;

}

.fromblog h3 {
    font-size: 20px;
    padding-top: 10px;
    color: var(--third-color);
    font-weight: 700;
}

.fromblog h6 {
    font-size: 17px;
    color: var(--white-color);
    font-weight: 600;
}

.hr-lines {
    position: relative;
    margin: 5px;
    text-align: center;
}



.input-group {
    width: 90%;
    max-width: 500px;
    margin: auto;
    padding: 2px;

}

.input-group-text {
    background-color: var(--primary-color);
    color: white;
    border-radius: 3px;
    border: 1px solid var(--white-color);
}

.form-control {
    border: 1px solid gray;
    box-shadow: none;
    color: var(--primary-color);
}

.footerdata ul a {
    left: 0;
    margin-left: 0;
    text-decoration: none;
    top: 0;
    color: var(--white-color);
}

.footerdata h4 {
    margin-left: 40px;
}

.footer-section {
    font-family: "Heebo", sans-serif;
    background-image: linear-gradient(#114172, #bd77f3);
}

.footer-section p {
    font-size: 16px;
    text-align: left;
    font-family: "Heebo", sans-serif;
}

.footeraddress ul a {
    left: 0;
    margin-left: 0;
    text-decoration: none;

    color: var(--white-color);
}

.footeraddress h4 {
    margin-left: 40px;
}

.givepadding {
    padding-top: 40px;
    color: var(--white-color);
    padding-bottom: 100px;
    margin-left: 20px;

}

.givepadding p {
    padding-top: 10px;
}

.boxshadowcolor {
    background-color: var(--primary-color);

}

.boxshadowcolored {
    background-color: var(--secondry-color);
    color: var(--white-color);
}

.iconspace {
    padding: 15px;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
}

.icondesign {
    background-color: var(--white-color);
    padding: 10px;
    color: var(--primary-color);
    border-radius: 30%;
    margin-right: 5px;
    cursor: pointer;
}

.spaceicon :hover {
    background-color: var(--primary-color);
    color: var(--white-color);

}

.spaceicon {
    padding-top: 15px;
}

.sectionworks h2 {
    text-align: center;
    padding-bottom: 20px;
    font-size: 2.5em;
    color: var(--primary-color);
    font-weight: 700;
}

.howitworks {
    padding-bottom: 40px;
    color: var(--black-color);
}

.howitworks h4 {
    text-align: center;
    padding: 20px;
    font-size: bold;
    font-weight: 900;
}

.howitworks img {
    max-width: 100%;
    text-align: center;
    max-height: 100%;
    margin-left: 30%;
}

.howitworks p {
    margin-top: 10px;
    text-align: center;
    font-size: 18px;
    font-family: 600;
}

.btn {
    text-align: center;
    padding: 8px 20px;
    border: 3px solid var(--primary-color);
    font-size: 16px;
    font-weight: 700;
    background-color: var(--primary-color);
    color: var(--white-color);
}

.button {
    text-align: center;
    padding-bottom: 80px;

}

.feedback {
    padding-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
}

.feedback h1 {
    text-align: center;
    padding: 40px;
    font-weight: 700;
}

.user-review {
    text-align: center;
    box-shadow: 0 0 10px 0 black;
    padding-bottom: 40px;
    width: 350px;
    margin: 0;
    margin-left: 20px;
    margin-right: 20px;
}

.user-review p {
    padding: 30px 10px 10px 10px;
    font-size: 17px;
    font-weight: 500;
}

.feedback img {

    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: relative;
    margin: -30px 0 20px 40%;

}

.workid {
    background-image: linear-gradient(#114172, #bd77f3);
}

.worksection {
    background-color: var(--white-color);
}

.worksection button {
    padding: 10px;
    border-radius: 4px;
    background-image: linear-gradient(#114172, #bd77f3);
    font-size: 20px;
    color: var(--white-color);
    border: none;
}

.workbutton {
    padding-bottom: 20px;
    margin-left: 15px;
}

.col-data {
    font-size: 18px;

}

.col-data p {
    margin-left: 60px;
}

.image {
    margin-left: 25%;

}

.backgroundcolor {
    background-image: linear-gradient(#114172, #bd77f3);
    padding: 20px;
    border-radius: 20%;
}

.id {
    padding-bottom: 60px;
}

.col-data strong {
    color: var(--primary-color);
}

.header-heading {

    text-align: center;
    padding: 40px;
    font-size: 3rem;
    font-weight: 700;
    font-family: "Heebo", sans-serif;
}

.worksection h2 {
    margin-left: 20px;
    font-weight: 500;
    font-size: 2.5rem;
}

.headingp {
    margin-left: 20px;
    font-size: 20px;
}

.feature-heading {
    font-weight: 800;
    font-size: 3.5em;
    padding-bottom: 10px;
    padding-top: 150px;
    background-image: linear-gradient(to left, violet, indigo);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
    color: transparent;
    vertical-align: middle;
}

.feature-paragraph {
    margin-left: 80px;
   
}

.feature-paragraph h3 {
    padding-bottom: 100px;
    font-size: 20px;
    font-weight: normal;
    line-height: 1.6;
    color: var(--text-gray);
    vertical-align: middle;

}

.feature-img {
    text-align: center;
    padding-top: 100px;

}

.feature-img img {
    height: 500px;
    width: auto;
    vertical-align: middle;
    border-style: none;
    max-width: 100%;
   
      
}