:root {
    --primary-color: rgb(2, 2, 70);
    --secondry-color: #5d95ba;
    --third-color: #faa30e;
    --white-color: #fff;
    --text-color: #555;
    --text-gray: #999;
    --black-color: #000;
}

/* header design */
.header {
    height: 750px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(images/image2.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color: white;

}

.navigation-wrap {
    position: fixed;
    width: 100%;
    left: 0;
    z-index: 1000;
    transition: all 0.3s ease-out;
    background-color: rgba(4, 4, 4, 0.383);
}

.navigation-wrap .nav-item {
    padding: 0 0.625rem;
    transition: all 200ms linear;
}

.navigation-toggler:focus {
    outline: unset;
    border: unset;
    box-shadow: none;
}

.nav-link {
    font-size: 0.9375rem;
    font-weight: 600;

    color: white;
    letter-spacing: 1px;
}

.navigation-wrap .main-btn {
    padding: 0.3125rem 1.4375rem;
    margin-left: 000.625rem;
}

/*change navbar styling on scroll*/
.navigation-wrap .scroll-on {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--white-color);
    box-shadow: 0 0.125rem 1.75rem 0 rgb(0, 0, 0, 0.09);
    transition: all .15s ease-in-out 0s;
}

.navbar-brand {
    color: white;
    font-size: 2em;
    font-family: 700;
}

.main-btn {
    display: inline;
    padding: 0.625rem 1.87rem;
    line-height: 1.5625rem;
    background-color: var(--primary-color);
   
    color: var(--white-color);
    font-size: 0.9375rem;
    font-weight: 600;
    border-radius: 10px;
    transition: all .4s ease-out 0s;
}

.main-btn:hover {
    background-color: var(--white-color);
    color: var(--primary-color);
}

.header-page-heading {
    padding-top: 5em;
    font-size: 3em;
    line-height: 1.2;
    font-weight: 700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left:50px ;
    margin-right: 30px;
    text-align: left;
}
.main-page h6{
   text-align: left;
    margin-right: 30px;
    margin-left: 50px;
}

.section-features {
    padding: 2em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.features-heading {
    padding: 1em;
    text-align: center;
    color: var(--primary-color);
    font-size: 2.5em;
    font-weight: 500;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.features-box {
    text-align: center;

}

.features-box h4 {
    font-size: larger;
    color: var(--primary-color);
    padding: 10px;
}

.features-box h6 {
    font-size: 15px;
    color: var(--primary-color);
}

.icon-box {
    padding: 20px;
    background: var(--primary-color);
    color: var(--white-color);
    border-radius: 50%;

}

.contact-froms {
    padding: 15px 5px;
}

.mb-3 {
    margin-bottom: 1rem;
}

.contact-froms label {
    display: inline-block;
    margin-bottom: 0.5rem;
    font-size: 14px;
}

.star_red {
    color: red;
}

.error {
    color: #ff4646;
    margin-top: 5px;
}

.form-control {
    display: block;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    background-clip: padding-box;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.create-card {
    padding: 12px 12px;
    height: 46px;
    width: 170px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    background-color: var(--primary-color);
    border-radius: 10px;
    text-align: center;
    border: none;
   

}
.section-getcard{
    padding-top: 100px;
    padding-bottom: 50px;
   
  
}
.border{
  border: 1em solid #faa30e;
}
.givespace{
    padding-top: 30px;
    padding-bottom: 30px;
    
}
.getting-card {
    background-color: var(--third-color);
    height: auto;
    border-radius: 5px;
    padding-top: 50px;
    padding-bottom: 50px;
  
}
.getting-card h2 {
    margin-left: 40px;
    margin-right: 40px;
    padding: 40px;
    font-size: 50px;
    font-weight: 700;
    color: var(--white-color);
    text-align: left;
    line-height: 1.1em;
}
.blogsection{
    background-color: rgba(244, 249, 249, 0.502);
    display: flex;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.blogsection h2{
    text-align: center;
    padding: 50px;
    font-size: 50px;
    font-weight: 700;
    color: var(--primary-color);
}
.fromblog img{
    height: auto;
    max-width: 100%;
    border: none;
    border-radius: 3px;
    box-shadow: none;
}
.fromblog h3{
   font-size: 20px;
   padding-top: 10px;
   color: var(--third-color);
  
}
.fromblog h6{
    font-size: 15px;
    color: var(--primary-color);
}