body {
    background-color: #F6F4F9;
}

:root {
    --primary-color: #6222CC;
    --secondry-color: #5d95ba;
    --third-color: #faa30e;
    --white-color: #fff;
    --text-color: #555;
    --text-gray: #999;
    --black-color: #000;
}

/* header design */
.section-header {
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(images/image2.jpg);
    animation-name: example;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    opacity: 1;
    background-size: cover;
    background-position: center;
    background-attachment: fixed; */
    background-color: var(--primary-color);
    max-height: 100%;
    height: 100%;
    width: 100%;

}

/* @keyframes example {
    from {
        background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(images/image2.jpg);
    }

    to {
        background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(images/image1.jpg);
    }

} */
.bannerimg {
    padding-top: 100px;
    padding-bottom: 150px;
    display: flex;
    align-items: center;
}

.bannerimg img {
    width: 700px;
    height: 400px;
    padding-top: 20px;
    max-width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.buttonGradiant {
    background-image: linear-gradient(#f75878 0%, #f7635b 38.39%, #fbb03b 100%);
    color: white;
    font-weight: bold;
    font-size: 14px;
    padding: 15px 30px;
    float: left;
    border-radius: 30px;
    margin-left: 50px;
    text-decoration: none;
}

.header {
    width: auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color: white;
}

.navigation-wrap {
    position: relative;
    width: 100%;
    left: 0;
    z-index: 1000;
    transition: all 0.3s ease-out;
    background-color: rgba(0, 0, 0, 0.036);
}

.navigation-wrap .nav-item {
    padding: 0 0.625rem;
    transition: all 200ms linear;
}

.nav-link {
    font-size: 0.9375rem;
    font-weight: 600;
    color: var(--white-color);
    letter-spacing: 1px;
}

.navigation-wrap .main-btn {
    padding: 0.3125rem 1.4375rem;
    margin-left: 000.625rem;
}

/*change navbar styling on scroll*/
.navbar-brand {
    color: var(--white-color);
    font-size: 1.5em;
    width: auto;

    font-family: 700;
}

.main-btn {
    display: inline;
    padding: 0.625rem 1.87rem;
    line-height: 1.5625rem;
    background-color: var(--white-color);

    color: var(--black-color);
    font-size: 0.9375rem;
    font-weight: 600;
    border-radius: 10px;
    transition: all .4s ease-out 0s;
}

.main-btn:hover {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.header-page-heading {
    padding-top: 5em;
    font-size: 3em;
    line-height: 1.2;
    font-weight: 700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 50px;
    margin-right: 30px;
    text-align: left;
}

.main-page h6 {
    text-align: left;
    margin-right: 30px;
    margin-left: 50px;
}

.section-features {
    padding: 2em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-top: 100px;
    padding-bottom: 150px;
    background-color: #fff;
}

.features-heading {
    padding: 1em;
    text-align: center;
    color: var(--primary-color);
    font-size: 2.5em;
    font-weight: 500;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.features-box {
    text-align: center;

}

.features-box h4 {
    font-size: larger;
    color: var(--text-color);
    padding: 10px;
}

.features-box h6 {
    font-size: 15px;
    color: var(--text-color);
}

.icon-box {
    padding: 20px;
    background: var(--primary-color);
    color: var(--white-color);
    border-radius: 50%;
}

.bodycolor {
    background-color: white;
}

.givespace {
    padding-top: 150px;
    padding-bottom: 100px;
    max-width: 100%;
}

.getting-card {
    background-color: #6222CC;
    height: 400px;
    max-width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;

}

.getting-card h6 {
    text-align: center;
    color: var(--white-color);
    padding-top: 50px;
    font-size: 30px;
}

.getting-card h2 {
    padding-top: 20PX;
    padding-bottom: 100px;
    font-size: 50px;
    font-weight: 700;
    color: var(--white-color);
    text-align: center;
    line-height: 1.1em;
}

.blogsection {
    display: flex;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
.padding-bottom{
    padding-bottom: 40px;
}

.blogsection h2 {
    text-align: center;
    padding: 50px;
    font-size: 50px;
    font-weight: 700;
    color: var(--primary-color);
}

.boxshadow {
    background-color: #fff;
}

.fromblog img {
    height: auto;
    max-width: 100%;
    border: none;
    border-radius: 3px;
    box-shadow: none;
}

.fromblog h3 {
    font-size: 20px;
    padding-top: 10px;
    color: var(--third-color);

}

.fromblog h6 {
    font-size: 15px;
    color: var(--primary-color);
}

.hr-lines {
    position: relative;
    margin: 0 0;
    text-align: center;
}

.hr-lines:before {
    content: " ";
    height: 2px;
    width: 100px;
    background: red;
    display: block;
    position: absolute;
    top: 80%;
    left: 0;
    margin-left: 400px;
}

.hr-lines:after {
    content: " ";
    height: 2px;
    width: 100px;
    background: red;
    display: block;
    position: absolute;
    top: 80%;
    right: 0;
    margin-right: 400px;
}

.input-group {
    width: 90%;
    max-width: 500px;

    background: white;
    margin: auto;
    padding: 2px;

}

.input-group-text {
    background-color: var(--primary-color);
    border: 0;
    color: white;
    box-shadow: none;
    border-radius: 2px;
    border-width: 0px 0px 0px 0px;
}

.form-control {
    border: 1px solid gray;
    box-shadow: none;
}

.footerdata ul a {
    left: 0;
    margin-left: 0;
    text-decoration: none;
    
    color: var(--white-color);
}
.footerdata h4{
    margin-left: 20px;
}
.footer-section p{
    font-size: 16px;
}
.footeraddress ul a{
    left: 0;
    margin-left: 0;
    text-decoration: none;
   
    color: var(--white-color);
}
.givepadding{
    padding-top: 40px;
    color: var(--white-color);
    padding-bottom: 100px;
    margin-left: 20px;
    
}
.boxshadowcolor{
    background-color:var(--primary-color);
}